<h1><%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr />

<h2>Physician</h2>
<ul>
  <% @physicians.each do |physician| %>
    <li>
      <%= physician.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, physician), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Nurse</h2>
<ul>
  <% @nurses.each do |nurse| %>
    <li>
      <%= nurse.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, nurse), method: :delete %>
    </li>
 <% end %>
</ul>
<h2>Patient</h2>
<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= patient.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, patient), method: :delete %>
   </li>
 <% end %>
</ul>
